
# VMStation Cluster Inventory (Authoritative)
all:
  vars:
    cluster_name: vmstation-cluster
    cluster_domain: vmstation.local
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
    ansible_python_interpreter: /usr/bin/python3
    k8s_version: "1.29"
    container_runtime: containerd
    pod_network_cidr: "10.244.0.0/16"
    service_cidr: "10.96.0.0/12"
    control_plane_endpoint: 192.168.4.63:6443
    cni_plugin: calico
    disable_swap: true
    setup_firewall: false

  children:

    kube-master:
      hosts:
        masternode:
          ansible_host: 192.168.4.63
          ansible_user: jjbly
          ansible_connection: local
          node_role: control-plane
          wol_mac: 00:e0:4c:68:cb:bf

    kube-node:
      hosts:
        storagenodet3500:
          ansible_host: 192.168.4.61
          ansible_user: jjbly
          ansible_ssh_private_key_file: ~/.ssh/id_k3s
          node_role: worker
          wol_mac: b8:ac:6f:7e:6c:9d
        homelab:
          ansible_host: 192.168.4.62
          ansible_user: jashandeepjustinbains
          ansible_ssh_private_key_file: ~/.ssh/id_k3s
          node_role: worker
          wol_mac: d0:94:66:30:d6:63
          os_family: RedHat
          os_version: 10
          ansible_become: true
          ansible_become_method: sudo

    etcd:
      hosts:
        masternode:
          ansible_host: 192.168.4.63
          ansible_user: jjbly
          ansible_connection: local

    monitoring_nodes:
      hosts:
        masternode:
          ansible_host: 192.168.4.63
          ansible_user: jjbly
          ansible_connection: local
      vars:
        schedule_monitoring_pods: true
        install_monitoring_stack: true
        wol_mac: 00:e0:4c:68:cb:bf
        node_role: control-plane

    storage_nodes:
      hosts:
        storagenodet3500:
          ansible_host: 192.168.4.61
          ansible_user: jjbly
          ansible_ssh_private_key_file: ~/.ssh/id_k3s
      vars:
        schedule_jellyfin: true
        media_storage_path: /srv/media
        jellyfin_config_path: /var/lib/jellyfin
        wol_mac: b8:ac:6f:7e:6c:9d
        node_role: worker

    compute_nodes:
      hosts:
        homelab:
          ansible_host: 192.168.4.62
          ansible_user: jashandeepjustinbains
          ansible_ssh_private_key_file: ~/.ssh/id_k3s
      vars:
        schedule_general_workloads: true
        rhel_subscription_required: false
        wol_mac: d0:94:66:30:d6:63
        node_role: worker
        os_family: RedHat
        os_version: 10
        ansible_become: true
        ansible_become_method: sudo
